<h1>{{ article.title }}</h1>

<small>{{ article.author }}</small>

<time datetime="{{ article.published_at | date: '%Y-%m-%d' }}">{{ article.published_at | date: '%Y-%m-%d' }}</time>

<img
   
    src="{{ article.image | image_url: width: 1100 }}"
    loading="eager"
    fetchpriority="high"
    width="{{ article.image.width }}"
    height="{{ article.image.height }}"
    alt="{{ article.image.alt | escape }}"
  >




